.search-engine-optimization { /* sizing for first image on page*/
    display: block;
    width: 40%;
    border:5px;
    
}

.online-reputation-management{ /* sizing for second image on page*/
    display: block;
    width: 40%;
    border:5px;
}
.social-media-marketing{ /* sizing for first third on page*/
    display: block;
    width: 40%;
    border:5px;
}

.sectionHeader{ /*sets parameters for headerText*/
    display: inline;
    align-items: stretch;
}

.bodyText { /*makes text readable for smaller resolutions*/
    display: flex;
    flex-wrap: wrap;
}